Repository andela/vali-ah-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js, yarn lint:jsx

.lintstagedrc:

{
  "*.js": "yarn lint:js",
  "*.jsx": "yarn lint:jsx"
}

chore(cypress-e2e): set up end to end testing using cypress.io
  .circleci/config.yml
  .gitignore
  cypress.json
  package-lock.json
  package.json
  tests/integration/app.test.js
Due: yarn lint:js

chore(cypress-e2e): set up end to end testing
  .circleci/config.yml
  .eslintignore
  .eslintrc
  cypress.json
  package-lock.json
  package.json
  src/App.jsx
  tests/integration/app.test.js
Due: yarn lint:js, yarn lint:jsx

chore(testing): setup circle ci
  .babelrc
  .circleci/config.yml
  .gitignore
  README.md
  jest.config.js
  package.json
  sample.js
  sample.test.js
Due: yarn lint:js

chore(ci): setup circle ci
  .circleci/config.yml
  jest.config.js
  package-lock.json
  package.json
  sample.js
  sample.test.js
  src/App.spec.jsx
Due: yarn lint:js, yarn lint:jsx

chore(testing): setup storybook and jest
  .babelrc
  .storybook/config.js
  package.json
  src/App.js
  src/__snapshots__/storybook.test.js.snap
  src/components/index.stories.js
  src/index.html
  src/index.js
  src/storybook.test.js
  tests/App.test.js
  webpack.config.js
Due: yarn lint:js

chore(testing): setup storybook and jest
  .eslintignore
  .eslintrc
  .gitignore
  .storybook/config.js
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.plugins.js
  config/webpack.prod.js
  jest.config.js
  package-lock.json
  package.json
  src/App.js
  src/__snapshots__/storybook.test.js.snap
  src/components/Button/Button.spec.jsx
  src/components/Button/Button.stories.jsx
  src/components/Button/index.jsx
  src/index.js
  tests/App.test.js
  tests/__snapshots__/storybook.test.js.snap
  tests/setupUnitTests.js
  tests/storybook.test.js
  webpack.config.js
Due: yarn lint:js, yarn lint:jsx

chore(setup): install and configure react router
  README.md
  package.json
  src/App.jsx
  src/components/Header.jsx
  src/index.jsx
  src/routes/index.jsx
  src/views/HomePageView.jsx
  src/views/PasswordResetView.jsx
  src/views/UserFeedView.jsx
  src/views/notFound.jsx
  webpack.config.js
Due: yarn lint:js, yarn lint:jsx

chore(setup): install and configure react router
  .babelrc
  .eslintrc
  config/webpack.common.js
  jest.config.js
  package-lock.json
  package.json
  src/App.spec.jsx
  src/App/App.spec.jsx
  src/App/Routes.jsx
  src/App/index.jsx
  src/components/Button/Button.spec.jsx
  src/components/Button/Button.stories.jsx
  src/components/Button/index.jsx
  src/components/Header.jsx
  src/index.jsx
  src/pages/HomePage.jsx
  src/pages/NotFoundPage.jsx
  src/pages/PasswordResetPage.jsx
  src/pages/UserFeedPage.jsx
  src/routes/index.jsx
  src/views/notFound.jsx
  tests/integration/app.test.js
  tests/setupUnitTests.js
  webpack.config.js
Due: yarn lint:js, yarn lint:jsx

chore(redux): setup redux with redux saga
  .gitignore
  package-lock.json
  package.json
  src/actions/demo.js
  src/actions/type.js
  src/components/app.js
  src/components/test.js
  src/index.js
  src/reducers/demo.js
  src/reducers/index.js
  src/saga/demo.js
  src/saga/index.js
  src/store.js
Due: yarn lint:js

chore(redux): setup redux with redux saga
  .babelrc
  .eslintrc
  config/webpack.common.js
  package-lock.json
  package.json
  src/App/index.jsx
  src/actions/demo.js
  src/components/app.js
  src/components/test.js
  src/index.js
  src/pages/HomePage.jsx
  src/reducers/demo.js
  src/saga/demo.js
  src/saga/index.js
  src/store.js
  src/store/index.js
  src/store/modules/demo/demo.actions.test.js
  src/store/modules/demo/demo.reducer.test.js
  src/store/modules/demo/index.js
  src/store/modules/demo/requests.js
  src/store/modules/demo/types.js
  src/store/rootReducer.js
  src/store/rootSaga.js
  src/utils/connect.js
Due: yarn lint:js, yarn lint:jsx

chore(testing): setup circle ci
  .circleci/config.yml
  .gitignore
  sample.js
  sample.test.js
Due: yarn lint:js

ch(codeclimate test coverage): setup codeclimate test coverage
  README.md
Due: none

chore(codeclimate): setup codeclimate test coverage
  .circleci/config.yml
Due: none

fix(cleanup): clean up sample files
  sample.js
  sample.test.js
Due: yarn lint:js

chore(sass-preprocessing): setup sass preprocessing
  .lintstagedrc
  .stylelintrc
  config/webpack.common.js
  config/webpack.plugins.js
  jest.config.js
  package-lock.json
  package.json
  src/assets/scss/style.scss
  src/components/Header.jsx
  tests/__mocks__/style.js
Due: yarn lint:js, yarn lint:jsx

fix(storybook): fix storybook build on netlify
  .nvmrc
  .storybook/addons.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
Due: yarn lint:js

feat(share-article): user can share articles
  .babelrc
  package-lock.json
  package.json
  src/App/Routes.jsx
  src/App/index.jsx
  src/assets/images/email-icon.svg
  src/assets/images/facebook-icon.svg
  src/assets/images/twitter-icon.svg
  src/pages/ArticlePage/ArticlePage.scss
  src/pages/ArticlePage/index.jsx
  src/utils/axios.js
Due: yarn lint:js, yarn lint:jsx

feat(get single article): implement get article
  package-lock.json
  package.json
  src/App/Routes.jsx
  src/components/Loader/Loader.jsx
  src/index.html
  src/pages/ArticlePage/ArticleView.scss
  src/pages/ArticlePage/index.jsx
  src/store/modules/getArticle/index.js
  src/store/modules/getArticle/requests.js
  src/store/modules/getArticle/types.js
  src/store/rootReducer.js
  src/store/rootSaga.js
Due: yarn lint:js, yarn lint:jsx

feat(comments): users can comment on articles
  .babelrc
  .eslintrc
  .stylelintrc
  config/webpack.common.js
  jest.config.js
  package-lock.json
  package.json
  src/assets/images/elliot.jpg
  src/assets/images/userAvatar.png
  src/assets/scss/style.scss
  src/components/Comments/Comment.jsx
  src/components/Comments/CommentForm.jsx
  src/components/Comments/Comments.scss
  src/components/Comments/Comments.spec.jsx
  src/components/Comments/Comments.stories.jsx
  src/components/Comments/index.jsx
  src/components/Spinner/Spinner.scss
  src/components/Spinner/index.jsx
  src/pages/HomePage.jsx
  src/store/modules/articleComments/articleComments.actions.test.js
  src/store/modules/articleComments/articleComments.reducer.test.js
  src/store/modules/articleComments/index.js
  src/store/modules/articleComments/requests.js
  src/store/modules/articleComments/types.js
  src/store/rootReducer.js
  src/store/rootSaga.js
  src/utils/formatDate/index.js
  src/utils/tests/runSaga.js
  tests/__mocks__/style.js
  tests/__snapshots__/storybook.test.js.snap
  tests/fixtures/articleComments.js
Due: yarn lint:js, yarn lint:jsx

feat(search-functionality): user can search for an article
  config/webpack.common.js
  package-lock.json
  package.json
  src/assets/scss/style.scss
  src/assets/scss/variables.scss
  src/components/Card/Card.scss
  src/components/Card/index.jsx
  src/components/Header/Header.scss
  src/components/Header/index.jsx
  src/components/Search/Search.scss
  src/components/Search/index.jsx
  src/components/Spinner/index.jsx
  src/pages/HomePage.jsx
  src/pages/SearchPage/SearchPage.scss
  src/pages/SearchPage/SearchPage.spec.jsx
  src/pages/SearchPage/index.jsx
  src/store/modules/search/index.js
  src/store/modules/search/search.actions.test.js
  src/store/modules/search/search.reducer.test.js
  src/store/modules/search/types.js
  tests/__snapshots__/storybook.test.js.snap
  tests/integration/search.test.js
Due: yarn lint:js, yarn lint:jsx

feat(signup): user should be able to signup
  .eslintrc
  config/webpack.common.js
  package-lock.json
  package.json
  src/App/App.spec.jsx
  src/assets/scss/variables.scss
  src/components/Header.jsx
  src/components/Input/index.jsx
  src/components/Modal/Modal.stories.jsx
  src/components/Modal/index.jsx
  src/components/Signup/Signup.scss
  src/components/Signup/Signup.spec.jsx
  src/components/Signup/__snapshots__/Signup.spec.jsx.snap
  src/components/Signup/index.jsx
  src/pages/HomePage.jsx
  src/store/modules/header/index.js
  src/store/modules/header/types.js
  src/store/modules/signUp/index.js
  src/store/modules/signUp/requests.js
  src/store/modules/signUp/signup.actions.test.js
  src/store/modules/signUp/signup.reducers.test.js
  src/store/modules/signUp/types.js
  src/store/rootReducer.js
  src/store/rootSaga.js
  src/utils/validator/index.js
  src/utils/validator/validator.spec.js
  src/validations/Signup.js
  tests/__snapshots__/storybook.test.js.snap
  tests/fixtures/signup.js
  tests/fixtures/validations.js
  tests/integration/signup.test.js
Due: yarn lint:js, yarn lint:jsx
